/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: flex-start;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  transition: border-color 0.25s;
}

button:hover {
  border-color: #1ae0ff;
}

button:focus,
button:focus-visible {
  outline: 1px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }

  [role="dialog"] {
    position: fixed;
    z-index: 100;
    inset: 0;
    padding-inline: 2vmax;
    display: grid;
    place-items: center;
    background-color: hsl(var(--bg) / 0.7);
  }

  [role="dialog"] .todo {
    max-width: 40ch;
    padding: 2em 1.3em 1.3em;
    background-color: hsl(var(--bg));
    border-radius: var(--_radius);
    border: 0.1em solid hsl(var(--accent) / 0.3);
    box-shadow: 0 -1em 3em hsl(var(--muted)), 0 1em 3em hsl(var(--accent) / 0.2);
  }

}